:root{
    --darkblue: #193153;
    --purple: #9D6381;
    --grey: #CECCCC;

    --green1: #136F63;
    --green2: #109065;
    --green3: #0CB067;
    --green4: #04F06A;

    --light-blue: rgb(130, 178, 227);
    --true-blue: #0466c8ff;
    --usafa-blue: #0353a4ff;
    --dark-cornflower-blue: #023e7dff;
    --oxford-blue: #002855ff;
    --oxford-blue-2: #001845ff;
    --oxford-blue-3: #001233ff;
    --independence: #33415cff;
    --black-coral: #5c677dff;
    --roman-silver: #7d8597ff;
    --manatee: #979dacff;


    --title-color: var(--oxford-blue-3);
    --button-color: var(--oxford-blue);
    --background-color: var(--light-blue);

    --config-hover: var(--black-coral);
    --config-color: var(--independence);
    --grid-color: var(--manatee);
}

/* /-----\/-----\ HEADER /-----\/-----\ */

body{
    background-color: var(--background-color);
    margin: 10px;
    height: calc(100vh - 20px);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Logo{
    height: 100px;
    aspect-ratio: 1;
    background-color: var(--button-color);
    border-radius: 25%;
    opacity: 0;
}

header h1{
    color: var(--title-color);
}

.bouton-resoudre{
    padding: 10px;
    background-color: var(--button-color);
    border-radius: 15px;
}

.bouton-resoudre h3{
    margin: 0px;
    color: white;
}

/* /-----\/-----\ GRILLE /-----\/-----\ */

.grille{
    --square-side: 50px;
    --config-length: 100px;

    --height: 5;
    --width: 5;
}

.grille{
    height: 80%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: var(--config-length) calc(var(--width) * var(--square-side)) var(--square-side);
    grid-template-rows: var(--config-length) calc(var(--height) * var(--square-side)) var(--square-side);
}

/* ----- Config Area ----- */

.config_verticale div,.config_horizontale div,.cases div, .add-line div{
    border: 1px solid var(--title-color);
}

.config_verticale div,.config_horizontale div, .add-line .add-config{
    display: flex;
    background-color: var(--config-color);
}

.config_verticale div:hover,.config_horizontale div:hover,.add-line .add-config:hover{
    background-color: var(--config-hover);
}

.config_verticale{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(var(--width),var(--square-side));
}

.config_horizontale{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(var(--height),var(--square-side));
}

.config_verticale div,.add-column .add-config{
    flex-direction: column;
    align-items: center;
}

.config_horizontale div,.add-row .add-config{
    flex-direction: row;
    align-items: center;
}

/* ----- Input ----- */

.config-input{
    background-color: var(--config-color);
    border-color: var(--config-color);
    border-style: solid;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}

.config_verticale div:hover .config-input,.config_horizontale div:hover .config-input,.config-input:focus,.add-config:hover .config-input{
    background-color: white;
    border-color: rgb(118,118,118);
    border-style: inset;
    color:black
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ----- Plus Part ----- */

.add-column{
    grid-column: 3;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: var(--config-length) repeat(var(--height),var(--square-side));
}

.add-row{
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: var(--config-length) repeat(var(--width),var(--square-side));
}

.add-line{
    opacity: 0.3;
    transition: opacity 1s;
}


.add-line:hover{
    opacity: 1;
}
/* .plus-vertical{
    grid-column: 3;
    grid-row: 1;
}

.plus-horizontal{
    grid-column: 1;
    grid-row: 3;
}

.bouton-plus{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton-plus div{
    height: 40px;
    aspect-ratio: 1;
    background-color: var(--button-color);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    border-radius: 30%;
    user-select: none;
} */

/* ----- Case Part ----- */

.cases{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(var(--width),var(--square-side));
    grid-template-rows: repeat(var(--height),var(--square-side));
}

.cases div,.add-config ~ div{
    background-color: var(--grid-color);
}

